html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#litepicker {
    border: 1px solid #d3d3d3;
    border-radius: 4px 0px 0px 4px;
    width: 160px;
    padding-left: 35px;
    height: 100%;
}

.search-input {
    display: flex;
    position: relative;
    height: 30px;
    margin: 15px 0px 15px 15px;
}

.submit-date {
    margin-left: -1px;
    height: 34px;
    border: 1px solid #d3d3d3;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 12px 0px 12px;
}

.search-icon {
    color: #333;
    width: 18px;
    height: 18px;
}

.results {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 10px 15px;
}

.calendar-icon {
    position: absolute;
    width: 18px;
    height: 18px;

    left: 12px;
    top: 8px;
}

.app-icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.asc::after {
    background-image: url('../images/icon_arrow01.svg');
}

.desc::after {
    background-image: url('../images/icon_arrow01.svg');
    transform: rotate(180deg);
}

.email-table-header div::after {
    display: inline-block;
    content: '';
    background-size: 8px 8px;
    height: 8px;
    width: 8px;

    position: relative;
    top: 0px;
    left: 5px;
}

.email-table, .email-table-body {
    display: flex;
    flex-direction: column;
}

.email-table {
    width: 100%;
}

.email-table-header {
    display: none;
    background-color: #f3f3f3;
    height: 35px;
    align-items: center;
    border: 1px solid #ccc;
}

.email-table-header div {
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.email-table-header div.desc, .email-table-header div.asc {
    color: black;
}

.email-table-header div:first-of-type::before {
    content: '';
}

.email-table-header div:before {
    content: '|';
    color: #555;
    padding-right: 15px;
}

.email-table-row {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.email-icon {
    float:left;
    width: 14px;
    height: 28px;
    padding-top: 5px;
    padding-right: 5px;
}

.email-from {
    font-weight: bold;
    margin-bottom: 5px;
}

.email-subject div {
    display: block;
    margin-top: 5px;
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.email-date {
    position: absolute;
    top: 10px;
    right: 25px;
}

.open-icon {
    position: absolute;
    top: 13px;
    right: 10px;

    width: 10px;
    height: 10px;
}

.attachment-icon {
    position: absolute;
    top: 10px;
    right: 100px;
    width: 12px;
    height: 12px;
}

.plus-email {
    position: absolute;
    top: 32px;
    right: 12px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
    background-color:#888;
}

.email-body {
    overflow: hidden;
    height: 0px;
    transition: height 0.5s ease-in;
}

.email-table-row.active .email-body {
    margin-top: 10px;
    min-height: 50px;
}

@media(min-width: 960px) {
    .email-table-header, .email-table-row {
        display: flex;
        align-items: center;
        justify-items: flex-start;
    }

    div.email-table-row > div {
        position: relative;
        left: 5px;
    }

    .email-table-row div.email-from {
        left: 0px;
    }

    .email-from, .header-from {
        width: 20%;
    }

    .email-to, .header-to {
        width: 30%;
    }

    .email-subject, .header-subject {
        width: 40%;
    }

    .email-date, .header-date {
        width: 10%;
    }

    .email-date {
        font-weight: bold;
    }

    .email-table-header div:before, .email-table-header div:after{
        content: '';
        padding: 0;
    }

    .email-table-header {
        padding-left: 10px;
        display: none;
    }

    .email-to {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .email-to > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .email-table-header div {
        margin: 0;
        padding: 0;
    }

    .email-table-row div{
        margin: 0;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .email-subject {
        display: flex;
        justify-content: space-between;
    }

    .email-body, .open-icon, .email-icon  {
        display: none;
    }

    object.attachment-icon {
        position: relative;
        top: 0;
        right: 5px;
    }

    div.plus-email {
        width: 15px;
        left: -5px;
    }

    .email-table-row div.email-body {
        display: block;
        position: absolute;
        top: 50px;
    }

    .email-table-row.active {
        align-items: flex-start;
        min-height: 100px;
    }

    .email-table-row:hover {
        background-color: #f3f3f3;
        color: blue;
    }
}